{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
{{parent()}}
     <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
    <!-- Start content -->
    <div class="content">
    <div class="container-fluid">


    <div class="row">

    <div class="col-12">
    <div class="card-box">
   

    <p class="text-muted font-14 m-b-20">

    <h4 class="m-t-0 header-title">Detail du reservation #{{reservation.id}}</h4>
    <div class="card">
        <div class="card-body">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>DateReservation</th>
                <td>{{ reservation.dateReservation ? reservation.dateReservation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ reservation.iduser }}</td>
            </tr>
            <tr>
                <th>Nbr</th>
                <td>{{ reservation.nbr }}</td>
            </tr>
            <tr>
                <th>VolId</th>
                <td>{{ reservation.volId }}</td>
            </tr>
            <tr>
                <th>VolgeneriqueId</th>
                <td>{{ reservation.volgeneriqueId }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
